@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
	/* color */
	--cl-red: #FF3951;
	--cl-yellow: #ffbf60;
	--cl-green: #188172;
	--cl-green-light: #F3F8F8;
	--cl-blue-light: #ecf1fa;
	
	/* shadow */
	--cl-yellow-shadow: rgba(241, 157, 28, 0.5);
	--cl-green-shadow: rgba(24, 129, 114, 0.5);

	/* neutros */
	--cl-light: #fff;
	--cl-light-shadow: #e9e9e9;
	--cl-grey:#7c87a1;
	--cl-grey-dark: #505d78;
	--cl-dark: #313c4c;

	/* shapes */
	--box-grid-shape: polygon(99% 1%, 50% 0%, 1% 1%, 0% 50%, 1% 99%, 50% 100%, 99% 99%, 100% 50%);

	--box-list-height: 120px;
	--box-list-width: 368px;

	--box-radius: 16px;
	--box-shadow: 0px 10px 30px 0px;

	--btn-big-heigth: 60px;
	--btn-big-width: 60px;
	--btn-big-radius: 50%;
	
	--btn-med-heigth: 40px;
	--btn-med-width: 40px;

	--input-height: 40px;
	--input-margin: 40px;

	/* font-size */
	--fs-34: 34px;
	--fs-22: 22px;
	--fs-16: 16px;
	--fs-14: 14px;
	--fs-12: 12px;

	/* font-line */
	--fl-126: 1.26;

	/* font-weigth */
	--fw-regular: 400;
	--fw-bold: 700;
}
/* ----------------------------- ✅ */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
button{
	cursor: pointer;
	font-size: 100%;
	font-family: inherit;
	border: 0;
	padding: 0;
	background-color: inherit;
	color: inherit;
}
.big__button{
	width: var(--btn-big-width);
	height: var(--btn-big-heigth);
	border: 2px solid var(--cl-blue-light);
	border-radius: var(--btn-big-radius);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.med__button{
	width: var(--btn-med-width);
	height: var(--btn-med-heigth);
	border-radius: var(--box-radius);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.med__button:disabled{
	background-color: var(--cl-light-shadow);
}
.button_style{
	border: 2px solid var(--cl-blue-light);
}
body{
	background-color: var(--cl-light);
	color:var(--cl-grey);
	margin: auto;
}
/* ----------------------------- ❌ GRID*/
.filter{
	display: none;
	padding: 12px 15%;
}
.filter__control{
	display: flex;
	justify-content: flex-end;
}
/* SEARCH */
.filter__search{
	margin-top: 20px;
}
.filter__search p{
	font-size: var(--fs-14);
	font-weight: var(--fw-bold);
	margin-bottom: 8px;
}
.filter__search__cont{
	display: flex;
	align-content: center;
}
#search_string{
	height: var(--input-height);
	width: var(--box-list-width);
	border-radius: var(--box-radius);
	border: 2px solid var(--cl-blue-light);
	padding: 10px;
	color: var(--cl-grey);
}
#search_string:hover{
	border: 2px solid var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-light);
}
#btn_search:hover{
	border: 2px solid var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-light);
}
/* FILTERS */
.filter__filter{
	margin-top: var(--input-margin);
}
.filter__filter p{
	font-size: var(--fs-14);
	font-weight: var(--fw-bold);
	margin-bottom: 8px;
}
.filter__filter__AVB{
	font-size: var(--fs-16);
	font-weight: var(--fw-bold);
	color: var(--cl-dark);
}
#avb-min, #avb-max{
	height: var(--input-height);
	border-radius: var(--box-radius);
	border: 2px solid var(--cl-blue-light);
	padding: 10px;
	color: var(--cl-grey);
}
#avb-min:hover, #avb-max:hover{
	border: 2px solid var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-light);
}
/* SORT */
.filter__sort{
	margin-top: var(--input-margin);
}
.filter__sort p{
	font-size: var(--fs-14);
	font-weight: var(--fw-bold);
	margin-bottom: 8px;
}
#sort{
	height: var(--input-height);
	width: var(--box-list-width);
	border-radius: var(--box-radius);
	border: 2px solid var(--cl-blue-light);
	padding: 10px;
	color: var(--cl-grey);
}
#sort:hover{
	border: 2px solid var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-light);
}
/* SHOW */
.filter__show{
	margin-top: var(--input-margin);
}
.filter__show p{
	font-size: var(--fs-14);
	font-weight: var(--fw-bold);
	margin-bottom: 8px;
}
#show_grid{
	height: var(--input-height);
}
#show_list{
	height: var(--input-height);
}
#show_grid:checked, #show_list:checked{
	background-color: red;
}
#show_grid:hover, #show_list:hover{
	border: 2px solid var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-light);
}
/* RESULTS */
.filter__results{
	margin-top: var(--input-margin);
}
.filter__results p{
	font-size: var(--fs-14);
	font-weight: var(--fw-bold);
	margin-bottom: 8px;
}
#page{
	height: var(--input-height);
	width: var(--box-list-width);
	border-radius: var(--box-radius);
	border: 2px solid var(--cl-blue-light);
	padding: 10px;
	color: var(--cl-grey);
}
#page:hover{
	border: 2px solid var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-light);
}
/* BUTTONS */
.filter__buttons{
	margin-top: var(--input-margin);
	display: flex;
	justify-content: flex-end;
	gap: 16px;
}
#btn_clear{
	width: 150px;
	height: 56px;
	border: 2px solid var(--cl-yellow);
	border-radius: var(--box-radius);
	font-weight: var(--fw-bold);
	font-size: var(--fs-16);
	color: var(--cl-yellow);
}
#btn_clear:hover{
	box-shadow: var(--box-shadow) var(--cl-yellow-shadow);
}
#btn_apply{
	width: 150px;
	height: 56px;
	border-radius: var(--box-radius);
	background-color: var(--cl-green);
	color:var(--cl-light);
	font-weight: var(--fw-bold);
	font-size: var(--fs-16);
}
#btn_apply:hover{
	box-shadow: var(--box-shadow) var(--cl-green-shadow);
}

/* ----------------------------- ✅ */
.header{
	background-color: var(--cl-light);
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	right: 0;
	padding: 12px 10%;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 9;
}
.mobile_head{
	justify-content: center;
}
.header_sticky{
	background-color: var(--cl-red);
}
.header__filter{
	display: flex;
}
/* .header__back{

} */
.header__logo{
	font-size: var(--fs-16);
	color: var(--cl-grey);
	font-weight: bold;
	display: flex;
}
.header__user{
	display: flex;
	background-color: var(--cl-yellow);
	border-radius: var(--box-radius);
	justify-content: center;
	align-items: center;
	font-size: var(--fs-34);
}

/* ----------------------------- ✅ */

.hero{
	border: 1px solid var(--cl-light);
	padding: 0 5%;
}
.main__title{
	margin: 150px 0 46px;
	font-size:var(--fs-34);
	font-weight: var(--fw-bold);
	line-height: var(--fl-126);
	color: var(--cl-dark);
	width: 75%;
}

/* -----------------------------  ✅ */
.tag{
	display: flex;
	padding: 0 5%;
}
.tag__info{
	display: flex;
	justify-content: space-between;
}
.tag__title{
	color: var(--cl-grey); 
	font-size: var(--fs-14);
	font-weight: bold;
}
.tag__clear{
	cursor: pointer;
	color: var(--cl-green);
	font-size: var(--fs-14);
	font-weight: bold;
}
.tag__clear:hover{
	text-decoration: underline;
	
}
.tag__cont{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}
.tag__cont_tag{
	background-color: var(--cl-green);
	border-radius: var(--box-radius);
	font-size: var(--fs-12);
	padding: 4px 12px;
	color: white;
	margin-right: 8px;
	margin-bottom: 8px;
}

/* ----------------------------- ✅ */
.random{
	padding: 0 5%;
	height: 40px;
	position: relative;
}
.random button{
	height: 90px;
	width: var(--box-list-width);
	border-radius: var(--box-radius);
	background-color: var(--cl-yellow);
	font: var(--cl-dark);
	font-weight: var(--fw-bold);
	font-size: var(--fs-22);
	color:var(--cl-dark);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: left;
	padding-left: 20px;
	transition: .2s ease-in-out;
}
.random button:hover{
	box-shadow: var(--box-shadow) var(--cl-yellow-shadow);
	color: var(--cl-light);
}
.random button:hover .btn_random_beer_icon{
	bottom: 30px;
}
.btn_random_beer{
	position: absolute;
	bottom: 0;
	right: 10px;
	width: 130px;
	height: 120px;
	font-size: 130px;
	clip-path: inset(0px 0px 0px 0px);
}
.btn_random_beer_icon{
	position: relative;
	bottom: 20px;
	transition: .2s ease-in-out;
}

/* ----------------------------- ✅ */
.card{
	background-color: var(--cl-green-light);
	border-radius: var(--box-radius);
	padding-top: 120px;
	padding-bottom: 40px;
}
.card__cont{
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}
/* GRID */
.card__cont__card{
	background-color: var(--cl-green);
	border-radius: var(--box-radius);
	margin-bottom: 40px;
	width: 175px;
	display: flex;
	height: 190px;
	transition: .1s ease-in-out;
	cursor: pointer;
}
.card__cont__card:hover{
	box-shadow: var(--box-shadow) var(--cl-green-shadow);
}
.card__cont__card:hover .card__cont__card__image{
	transform: translateX(-25px);
}
.card__cont__card__id{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	position: relative;
}
.card__cont__card__botom{
	background-color: var(--cl-light);
	border-radius: 0 0 var(--box-radius) var(--box-radius);
	width: 100%;
	height: 70px;
	padding: 12px;
	position: absolute;
	bottom: 0;
}
.card__cont__card__title{
	color: var(--cl-grey-dark);
	font-weight: var(--fw-bold);
	font-size: var(--fs-14);
}
.card__cont__card__ABV{
	color: var(--cl-grey);
	font-weight: var(--fw-regular);
	font-size: var(--fs-12);
	text-align: right;
}
.card__cont__card__image{
	position: absolute;
	bottom: 50px;
	right: 20px;
	display: flex;
	transition: .2s ease-in-out;
}
.card__cont__card__image img{
	height: 170px;
}
.card_cont_card_error{
	text-align: center;
	font-weight: var(--fw-bold);
	color: var(--cl-green);
}
/* LIST */
.card__cont__card-list{
	padding: 0 5%;
	background-color: var(--cl-light);
	border-radius: var(--box-radius);
	width: var(--box-list-width);
	height: var(--box-list-height);
	margin-bottom: 10px;
	transition: .05s ease-in-out;
	cursor: pointer;
}
.card__cont__card-list:hover{
	background-color: var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-shadow);
}
.card__cont__card-list:hover .card__cont__card-list__title{
	color: var(--cl-light);
}
.card__cont__card-list:hover .card__cont__card-list__ABV{
	color: var(--cl-light);
}
.card__cont__card-list:hover .card__cont__card-list__image img{
	transform: translateX(50px);
}
.card__cont__card-list__botom{
	position: relative;
	width: 170px;
	left: 120px;
	top: 25px;
}
.card__cont__card-list__id{
	position: absolute;
}
.card__cont__card-list__title{
	font-weight: bold;
	color: var(--cl-green);
}
.card__cont__card-list__ABV{
	color: var(--cl-green);
}
.card__cont__card-list__image{
	clip-path: inset(0px 0px 1px 0px);
	width: 150px;
	position: absolute;
}
.card__cont__card-list__image img{
	height: 115px;
	position: relative;
	bottom: -25px;
	transition: .5s ease-in-out;
}

/* ----------------------------- ✅ */
.page{
	justify-content: center;
	margin-top: 40px;
	gap: 8px;
}
/* .page__left{
} */
.page__number{
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .page__rigth{
} */

/* ----------------------------- ✅ */
.footer{
	margin: 40px 0 80px;
	display: flex;
	justify-content: center;
}
.footer__face img{
	box-shadow: var(--box-shadow) var(--cl-light-shadow);
}

/* ----------------------------- ✅ */
.mobile__header{
	margin-top: 20px;
	background-color: red;
	display: flex;
}
.home__button{
	display: flex;
	justify-content: center;
}
.home__button__go{
	height: 90px;
	width: var(--box-list-width);
	border-radius: var(--box-radius);
	background-color: var(--cl-yellow);
	font: var(--cl-dark);
	font-weight: var(--fw-bold);
	font-size: var(--fs-22);
	color:var(--cl-dark);
	margin: auto;
	/* position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: left;
	padding-left: 20px; */
	transition: .2s ease-in-out;
	cursor: pointer;
}
.home__button__go:hover{
	box-shadow: var(--box-shadow) var(--cl-yellow-shadow);
	color: var(--cl-light);
}

/* ----------------------------- ❌ OVERLAP */

.detail{
	border: 1px solid var(--cl-light);
}
/* Hero */
.detail__hero{
	margin-top: 150px;
	background-color: var(--cl-green-light);
	border-radius: var(--box-radius);
	display: flex;
	position: relative;
}
.detail__hero__texts{
	padding: 40px 20px 150px;
	width: 50%;
	text-align: right;
}
.detail__hero__name{
	font-weight: var(--fw-bold);
	font-size: var(--fs-34);
	color: var(--cl-green);
}
.detail__hero__tagline{
	font-weight: var(--fw-bold);
	font-size: var(--fs-16);
	color: var(--cl-grey);
	margin-bottom: 16px;
}
.taglines__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 8px;
}
.detail__hero__brew{
	font-weight: var(--fw-regular);
	font-size: var(--fs-14);
	background-color: var(--cl-green);
	color: var(--cl-green-light);
	border-radius: var(--box-radius);
	padding: 4px 12px;
}
.detail__hero__abv{
	font-weight: var(--fw-regular);
	font-size: var(--fs-14);
	background-color: var(--cl-green);
	color: var(--cl-green-light);
	border-radius: var(--box-radius);
	padding: 4px 12px;
}
.detail__hero__image{
	position: absolute;
	top: -50px;
	right: 10%;
	transition: .1s ease-in-out;
}
.detail__hero__image:hover{
	transform: rotate(2deg);
}
.detail__hero__image img{
	height: 450px;
}
/* Details */
.detail_info{
	z-index: 9999;
}
.detail_info__description{
	background-color: var(--cl-green);
	border-radius: var(--box-radius);
	padding: 24px 35% 50px 24px;
	line-height: 1.80;
	font-weight: var(--fw-bold);
	color: var(--cl-light);

}
/* INGREDIENTS  */
.detail__ingredients{
	display: none;
	font-weight: var(--fw-regular);
	font-size: var(--fs-12);
	color: var(--cl-grey);
}
/* API */
.detail__map{
	margin-top: 20px;
	margin-bottom: 80px;
	position: relative;
}
.detail__map__title{
	font-weight: var(--fw-bold);
	font-size: var(--fs-16);
	color: var(--cl-grey);
	text-align: center;
	margin-bottom: 20px;
}
.detail__map__api{
	height: 200px;
	width: 80%;
	background-color: var(--cl-green-light);
	border-radius: var(--box-radius);
	margin-top: 20px;
	margin: 0 auto;
	text-align: center;
	line-height: 180px;
}
/* RECOMMEND */
.detail__map__food{
	width: 200;
	height: 150px;
	background-color: var(--cl-light);
	box-shadow: var(--box-shadow) var(--cl-light-shadow);
	border-radius: var(--box-radius);
	position: absolute;
	right: 20%;
	bottom: -250px;
	padding: 20px;
	margin-bottom: 150px;
}
.detail__map__food__title{
	font-size: var(--fs-12);

}
.detail__map__food__desc{
	font-size: var(--fs-14);
	font-weight: var(--fw-bold);
}



/* ----------------------------- ❌ */
@media only screen and (min-device-width: 700px){
	.detail{
		width: 700px;
		margin: 0 auto;
	}
	.main__title{
		text-align: center;
		width: auto;
	}
}
