@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
	/* color */
	--cl-red: #FF3951;
	--cl-yellow: #ffbf60;
	--cl-green: #188172;
	--cl-green-light: #F3F8F8;
	--cl-blue-light: #ecf1fa;
	
	/* shadow */
	--cl-yellow-shadow: rgba(241, 157, 28, 0.5);
	--cl-green-shadow: rgba(24, 129, 114, 0.5);

	/* neutros */
	--cl-light: #fff;
	--cl-light-shadow: #e9e9e9;
	--cl-grey:#7c87a1;
	--cl-grey-dark: #505d78;
	--cl-dark: #313c4c;

	/* shapes */
	--box-grid-shape: polygon(99% 1%, 50% 0%, 1% 1%, 0% 50%, 1% 99%, 50% 100%, 99% 99%, 100% 50%);

	--box-list-height: 120px;
	--box-list-width: 368px;

	--box-radius: 16px;
	--box-shadow: 0px 10px 30px 0px;

	--btn-round-heigth: 60px;
	--btn-round-width: 60px;
	--btn-round-radius: 50%;

	/* font-size */
	--fs-34: 34px;
	--fs-22: 22px;
	--fs-16: 16px;
	--fs-14: 14px;
	--fs-12: 12px;

	/* font-line */
	--fl-126: 1.26;

	/* font-weigth */
	--fw-regular: 400;
	--fw-bold: 700;
}

/* ----------------------------- ✅ */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
button{
	cursor: pointer;
	font-size: 100%;
	font-family: inherit;
	border: 0;
	padding: 0;
	background-color: inherit;
	color: inherit;
	width: 100%;
	height: 100%;
}
.round__button{
	width: var(--btn-round-width);
	height: var(--btn-round-heigth);
}
body{
	background-color: var(--cl-light);
	color:var(--cl-grey);
}

/* ----------------------------- ❌ */
.filter{
	border: 1px solid red;
	display: none;
}

.filter__control{
	border: 1px solid red;
}

/* SEARCH */
.filter__search{
	border: 1px solid red;
}

/* FILTERS */
.filter__filter{
	border: 1px solid red;
}
.filter__filter__AVB{
	border: 1px solid red;
}
.filter__filter__AVB_slider{
	border: 1px solid red;
}
.filter__filter__IBU{
	border: 1px solid red;
}
.filter__filter__IBU_slider{
	border: 1px solid red;
}
.filter__filter__EBC{
	border: 1px solid red;
}
.filter__filter__EBC_slider{
	border: 1px solid red;
}
.filter__filter__brew{
	border: 1px solid red;
}
.filter__filter__brew_slider{
	border: 1px solid red;
}
/* SORT */
.filter__sort{
	border: 1px solid red;
}
/* SHOW */
.filter__show{
	border: 1px solid red;
}
/* RESULTS */
.filter__results{
	border: 1px solid red;
}
/* BUTTONS */
.filter__buttons{
	border: 1px solid red;
}

/* ----------------------------- ❌ */
.header{
	background-color: var(--cl-light);
	padding: 0 5%;
	
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	/* top: 30; */
	right: 0;
	padding: 12px 20px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 9;

}
.header_sticky{
	background-color: var(--cl-red);
}
.header__filter{
	display: flex;
	border: 2px solid var(--cl-blue-light);
	border-radius: var(--btn-round-radius);
}
.header__back{
	border: 1px solid blue;
	/* border: 1px solid var(--cl-blue-light);
	border-radius: var(--btn-round-radius); */
}
.header__logo{
	font-size: var(--fs-16);
	color: var(--cl-grey);
	font-weight: bold;
	display: flex;
}
.header__user{
	display: flex;
	background-color: var(--cl-yellow);
	border-radius: var(--box-radius);
	justify-content: center;
	align-items: center;
	font-size: var(--fs-34);
}

/* ----------------------------- ✅ */
.main{
	border: 1px solid green;
	padding: 0 5%;
}
.hero{
	border: 1px solid var(--cl-light);
	padding: 0 5%;
}
.main__title{
	margin: 150px 0 46px;
	font-size:var(--fs-34);
	font-weight: var(--fw-bold);
	line-height: var(--fl-126);
	color: var(--cl-dark);
	width: 75%;
}

/* -----------------------------  ✅ */
.tag{
	display: flex;
	padding: 0 5%;
}
.tag__info{
	display: flex;
	justify-content: space-between;
}
.tag__title{
	color: var(--cl-grey); 
	font-size: var(--fs-14);
	font-weight: bold;
}
.tag__clear{
	cursor: pointer;
	color: var(--cl-green);
	font-size: var(--fs-14);
	font-weight: bold;
}
.tag__clear:hover{
	text-decoration: underline;
	
}
.tag__cont{
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
}
.tag__cont_tag{
	background-color: var(--cl-green);
	border-radius: var(--box-radius);
	font-size: var(--fs-12);
	padding: 4px 12px;
	color: white;
	margin-right: 8px;
	margin-bottom: 8px;
}

/* ----------------------------- ❌ */
.random{
	padding: 0 5%;
	height: 40px;
	position: relative;
}
.random button{
	height: 90px;
	width: var(--box-list-width);
	border-radius: var(--box-radius);
	background-color: var(--cl-yellow);
	font: var(--cl-dark);
	font-weight: var(--fw-bold);
	font-size: var(--fs-22);
	color:var(--cl-dark);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.random button:hover{
	box-shadow: var(--box-shadow) var(--cl-yellow-shadow);
}

/* ----------------------------- ✅ */
.card{
	background-color: var(--cl-green-light);
	border-radius: var(--box-radius);
	padding-top: 120px;
}
.card__cont{
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}
/* GRID */
.card__cont__card{
	background-color: var(--cl-green);
	border-radius: var(--box-radius);
	margin-bottom: 40px;
	width: 175px;
	display: flex;
	height: 190px;
	transition: .1s ease-in-out;
	cursor: pointer;
}
.card__cont__card:hover{
	box-shadow: var(--box-shadow) var(--cl-green-shadow);
}
.card__cont__card:hover .card__cont__card__image{
	transform: translateX(-25px);
}
.card__cont__card__id{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	position: relative;
}
.card__cont__card__botom{
	background-color: var(--cl-light);
	border-radius: 0 0 var(--box-radius) var(--box-radius);
	width: 100%;
	height: 70px;
	padding: 12px;
	position: absolute;
	bottom: 0;
}
.card__cont__card__title{
	color: var(--cl-grey-dark);
	font-weight: var(--fw-bold);
	font-size: var(--fs-14);
}
.card__cont__card__ABV{
	color: var(--cl-grey);
	font-weight: var(--fw-regular);
	font-size: var(--fs-12);
	text-align: right;
}
.card__cont__card__image{
	position: absolute;
	bottom: 50px;
	right: 20px;
	display: flex;
	transition: .2s ease-in-out;
}
.card__cont__card__image img{
	height: 170px;
}
.card_cont_card_error{
	border: 1px solid red;
}
/* LIST */
.card__cont__card-list{
	padding: 0 5%;
	background-color: var(--cl-light);
	border-radius: var(--box-radius);
	width: var(--box-list-width);
	height: var(--box-list-height);
	margin-bottom: 10px;
	transition: .05s ease-in-out;
	cursor: pointer;
}
.card__cont__card-list:hover{
	background-color: var(--cl-green);
	box-shadow: var(--box-shadow) var(--cl-green-shadow);
}
.card__cont__card-list:hover .card__cont__card-list__title{
	color: var(--cl-light);
}
.card__cont__card-list:hover .card__cont__card-list__ABV{
	color: var(--cl-light);
}
.card__cont__card-list:hover .card__cont__card-list__image img{
	transform: translateX(50px);
}
.card__cont__card-list__id{
	position: absolute;
}
.card__cont__card-list__botom{
	position: relative;
	width: 170px;
	left: 160px;
	top: 25px;
}
.card__cont__card-list__title{
	font-weight: bold;
	color: var(--cl-green);
}
.card__cont__card-list__ABV{
	color: var(--cl-green);
}
.card__cont__card-list__image{
	clip-path: inset(0px 0px 1px 0px);
	width: 150px;
	position: absolute;
}
.card__cont__card-list__image img{
	height: 115px;
	position: relative;
	bottom: -18px;
	transition: .5s ease-in-out;
}

/* ----------------------------- ❌ */
.page{
	border: 1px solid green;
}
.page__left{
	border: 1px solid green;
}
.page__number{
	border: 1px solid green;
}
.page__rigth{
	border: 1px solid green;
}

/* ----------------------------- ❌ */
.footer{
	border: 1px solid orange;
}
.footer__face{
	border: 1px solid orange;
}

/* ----------------------------- ❌ */
.home__button{
	border: 1px solid red;
}

/* ----------------------------- ❌ */

.detail{
	border: 1px solid red;
}
.detail__hero{
	border: 1px solid red;
}
.detail__hero__name{
	border: 1px solid red;
}
.detail__hero__tagline{
	border: 1px solid red;
}
.detail__hero__brew{
	border: 1px solid red;
}
.detail__hero__abv{
	border: 1px solid red;
}
.detail__hero__image{
	border: 1px solid red;
}
/* DETAIL */
.detail_info{
	border: 1px solid red;
}
.detail_info__description{
	border: 1px solid red;
}
.detail__ingredients{
	border: 1px solid red;
}
/* API */
.detail__map{
	border: 1px solid red;
}
.detail__map__title{
	border: 1px solid red;
}
.detail__map__api{
	border: 1px solid red;
}
/* RECOMMEND */
.detail__map__food{
	border: 1px solid red;
}
.detail__map__food__title{
	border: 1px solid red;
}
.detail__map__food__desc{
	border: 1px solid red;
}

/* ----------------------------- ❌ */
@media only screen and (min-device-width: 2048px){
	.filter,
	.header,
	.main,
	.tag,
	.random,
	.card,
	.page,
	/* footer, */
	.home__button{
		display: none;
	}
}
